<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /LibRBI
RewriteRule ^LibRBI/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /LibRBI/index.html [L]
</IfModule>
